.DrawerToggle {
    width: 30px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: -13px;
}

.DrawerToggle div {
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

/*--------------Media Queries---------------*/
@media (min-width: 750px) {
    .DrawerToggle {
        width: 35px;
        margin-left: -8px;
    }
}

@media (min-width: 1000px) {
    .DrawerToggle {
        width: 40px;
    }
}
