.Container {
  max-width: 240px;
  overflow: scroll;
  height: 100%;
}

.Container input {
  line-height: 2;
  font-size: 12px;
  width: 240px;
  padding-left: 3px;
}

ul {
  display: inline;
}

ul li {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  padding-left: 3px;
  line-height: 2;
  background: white;
  font-size: 12px;
  width: 240px;
  cursor: pointer;
  text-transform: capitalize;
}




