.Container {
  max-width: 240px;
  overflow: scroll;
  height: 100%;
}

.Container input {
  line-height: 2;
  font-size: 12px;
  width: 240px;
  padding-left: 3px;
}

ul {
  display: inline;
}

ul li {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  padding-left: 3px;
  line-height: 2;
  background: white;
  font-size: 12px;
  width: 240px;
  cursor: pointer;
  text-transform: capitalize;
}

.BtnCloseSidedrawer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  border: 0;
  background: #999;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
}

.BtnCloseSidedrawer:focus,
.BtnCloseSidedrawer:hover {
  background: #3794d1;
}

.ScreenReadersOnly {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}





