.Map {
    border: 1px solid black;
}

.MapContainer {
    position: absolute;
    right: 0;
    left: 0;
    height: 90%;
    width: 100%;
    bottom: 0;
    z-index: -1
}

.InfoWindow {
    width: auto;
    max-width: 120px;
    max-height: 150px;
}

.InfoWindow h5 {
    color: #106197;
    font-size: 12px;
    font-family: cursive;
    margin-bottom: 2px;
    margin-top: 4px;
}

.InfoWindow img {
    width: 90%;
    border: 2px solid #0b476e;
    padding: 2px;
    border-radius: 3px;
}


