.Map {
    border: 1px solid black;
}

.MapContainer {
    position: absolute;
    right: 0;
    left: 0;
    height: 90%;
    width: 100%;
    bottom: 0;
    z-index: -1
}

.InfoWindow {
    width: auto;
    max-width: 120px;
}

.InfoWindow h5 {
    color: #106197;
    font-size: 12px;
    font-family: cursive;
}

.InfoWindow img {
    width: 100%;
}


