.Map {
    border: 1px solid black;
}

.MapContainer {
    position: absolute;
    right: 0;
    left: 0;
    height: 90%;
    width: 100%;
    bottom: 0;
    z-index: -1
}

.InfoWindow {
    max-width: 120px;
}

.InfoWindow h5 {
    color: blue;
    font-size: 12px;
}


