.Title {
    color: white;
    
}

.Title h1 {
    font-size: 16px;
    display: inline;
    text-transform: uppercase;
}

.Title a {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 0;
    display: inline;
}

/*--------------Media Queries---------------*/
@media (min-width: 450px) {
    .Title h1 {
        font-size: 20px;
    }
}

@media (min-width: 750px) {
    .Title h1 {
        font-size: 24px;
    }
}

@media (min-width: 1000px) {
    .Title h1 {
        font-size: 30px;
    }
}